@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

body h1 {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

body h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

body h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

body p {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.button {
  background-color: rgba(117, 97, 87, 1);
  border: 1px rgba(117, 97, 87, 1) solid;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #615048;
  border-color: #615048;
  outline: none;
}

.button:active {
  background-color: #756157;
  border-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  min-height: 64px;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0 70px;
  width: auto;
  min-height: 64px;
  flex-wrap: wrap;
}

.navigation-logo {
  margin: 0;
  margin-right: 46px;
  position: absolute;
}

nav a {
  text-decoration: none;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

nav a:visited:not(.button-search) {
  color: #000000;
}

.navigation-box {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
  min-height: 64px;
  list-style: none;
  line-height: 36px;
  align-items: top;
  margin: 0;
  padding: 0;
}

.navigation-list:not(.navigation-icons) {
  gap: 32px;
  margin-left: 184px;
}

.navigation-icons {
  display: flex;
  flex-wrap: wrap;
  min-height: 64px;
  align-items: center;
}

.navigation-list-item {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  min-height: 60px;
  border-top: 2px transparent solid;
  border-bottom: 2px transparent solid;
  align-items: center;
  margin: 0;
  padding: 0;
}

.active-item {
  border-bottom: 2px #756257 solid;
}


.navigation-link {
  display: flex;
  flex-wrap: wrap;
  max-width: 120px;
  min-height: 62px;
}

.navigation-list img {
  align-items: center;
  vertical-align: middle;
}

.navigation-list-item.item-search {
  margin-right: 25px;
}

.navigation-list-item.item-favourite {
  margin-right: 33px;
}

.navigation-list-link {
  position: relative;
}

.favourite-number {
  display: flex;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  border-radius: 50%;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-transform: none;
}

.button-search {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  min-height: 36px;
  border: none;
  color: #ffffff;
  margin: 0;
  text-align: center;
  justify-content: center;
}

/* секция Welcome */

.welcome {
  width: 1200px;
  height: 485px;
  background: url(../images/welcome-to-sedona-background.jpg) no-repeat;
  background-color: rgba(131, 179, 211, 0.2);
}

.welcome-logo {
  margin: 51px 371px 21px 371px;
  padding: 0;
}

.welcome::after {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  position: absolute;
  margin: 0;
  background: url(../images/divider.png) no-repeat;
}

/* секция advantages */

.advantages {
  margin: 0;
  padding: 69px 0 0 0;
}

.advantages-title {
  display: block;
  max-width: 620px;
  min-height: 72px;
  align-items: center;
  margin: 0 290px 25px;
  padding: 0;
}

.advantages-description {
  display: block;
  width: 650px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 275px 90px 275px;
}

/* секция 3х3 - текст + картинки*/

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1200px));
  grid-template-rows: repeat(3, min(385px, 900px));
  gap: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.2);
}

li.light-blue-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.long-block {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 385px;
  grid-column: span 3;
  grid-row: span 1;
  margin: 0;
  padding: 0;
}

.advantages-text-block {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  min-height: 385px;
  margin: 0;
  background-color: #82B3D3;
}

.advantages-list-title-white {
  color: #FFFFFF;
  text-align: center;
  margin: 102px 114px 0;
}

.advantages-list-title-white::after {
  display: flex;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px 57px;
}

.advantages-list-text-white {
  color: #FFFFFF;
  text-align: center;
  margin: 0 85px 102px;
}

.advantages-list-title {
  text-align: center;
  margin: 113px 113px 0;
}

.advantages-list-title::after {
  display: flex;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px 57px;
}

.advantages-list-text {
  text-align: center;
  margin: 0 85px 113px;
}

/* Приезжайте в Седону отдохнуть в комфорте и уюте! */

.services {
  padding: 0;
  margin: 0;
}

.service-invite-title {
  display: block;
  margin: 64px 348px 20px;
  padding: 0;
  text-align: center;
}

.service-invite-text {
  display: block;
  font-size: 22px;
  line-height: 26px;
  margin: 20px 355px 64px;
}

ul.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.services-list-item {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 223px;
  margin: 0;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
  align-items: center;
  justify-content: center;
}

li.item-house::before {
  content: "";
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/house.svg");
  margin: 0;
  margin-bottom: 30px;
}

li.item-food::before {
  content: "";
  width: 74px;
  height: 70px;
  background-image: url("../images/icons/food.svg");
  margin: 0;
  margin-bottom: 30px;
}

li.item-souvenirs::before {
  content: "";
  width: 64px;
  height: 76px;
  background: url("../images/icons/souvenirs.svg") no-repeat;
  margin: 0 83px 26px 83px;
  position: relative;
  top: -2px;
}

li.item-food {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

h3.service-info-title {
  margin: 0;
  margin-bottom: 30px;
}

.item-house p {
  margin: 0 30px 0 30px;
  text-align: center;
}

.item-food p {
  margin: 0;
}

.item-souvenirs p {
  margin: 0;
  text-align: center;
}

.service-text span {
  margin: 0 20px;
}

/* секция Поиск гостиницы */

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 96px 304px;
}

.hotel-search h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search p {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search-text span {
  margin: 0 96px;
}

.search-button {
  display: flex;
  width: 375px;
  min-height: 52px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.subscription {
  background-image: url("../images/subscription-background.jpg");
  background-color: #68A2CA;
  background-size: 1200px auto;
  padding: 96px 258px 104px 258px;
}

.subscription h2 {
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.subscription p {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 104px 54px 104px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-email {
  width: 452px;
  height: auto;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: none;
  font-size: 18px;
  line-height: 24px;
}

.subscription-email:focus {
  outline: none;
}

.subscription-submit {
  display: flex;
  flex-wrap: wrap;
  width: 232px;
  min-height: 52px;
  padding: 8px 50px;
  background-color: #82B3D3;
  border-color: #82B3D3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.subscription-submit:hover,
.subscription-submit:focus {
  background-color: #68A2CA;
  border-color: #68A2CA;
  outline: none;
}

.subscription-submit:active {
  background-color: #68A2CA;
  border-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

footer {
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding: 45px 70px 35px 82px;
}

footer ul {
  list-style: none;
  display: flex;
  width: 142px;
  height: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-list-item {
  display: flex;
  width: 48px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.vk-social-link {
  display: flex;
  margin: auto 12px;
  align-items: center;
}

.telegram-social-link {
  display: flex;
  margin: auto 15px;
  align-items: center;
}

.youtube-social-link {
  display: flex;
  margin: auto 13px;
  align-items: center;
}

.social-icon {
  fill: #83B3D3;
}

.social-icon:hover,
.social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active {
  fill: #68A2CA;
  opacity: 30%;
}

.footer-phone-number {
  width: 330px;
  height: 40px;
  margin: auto 236px auto 235px;
  /* padding: 5px 195px; */
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}

.footer-phone-number:hover,
.footer-phone-number:focus {
  color: #756157;
}

.footer-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  display: flex;
  margin: auto;
  align-items: center;
  color: #000000;
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  fill: #756157;
  opacity: 100%;
}

.footer-logo-link:active {
  fill: #756157;
  opacity: 30%;
}

/* Модальное окно*/
.modal-container {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container:target {
  opacity: 1;
  visibility: visible;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  width: 577px;
  border-radius: 30px;
}

/* Кнопка закрытия окна*/

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.cross-icon {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: 50%;
}

/* Состояния кнопки закрытия*/

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus-within {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  outline: none;
}

.cross-icon:active {
  opacity: 30%;
}

.modal-title {
  margin: 0;
  text-align: left;
  margin-bottom: 64px;
}


.hotel-search-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(242px, 577px));
  grid-template-rows: repeat(3, 48px);
  gap: 48px 88px;
  border: none;
  padding: 0;
  margin: 0;
}


.search-label {
  display: flex;
  position: relative;
  min-height: 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  align-items: center;
  margin-bottom: 48px;
}


.date-search {
  width: 577px;
  justify-content: space-between;
  grid-column: span 2;
  grid-row: span 1;
}

.date-selection::placeholder {
  color: rgba(0, 0, 0, 0.6);
  text-transform: capitalize;
}

.date-selection:hover {
  background-color: #e6e6e6;
}

.date-selection:focus {
  outline: 3px solid #83B3D3;
  background-color: #e6e6e6;
}

.date-selection:active {
  outline: 2px solid #000000;
}

.input-message {
  color: #333333;
}

.error-message {
  color: #ff5757;
}

.information-item {
  display: flex;
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 10px;
}

.information-item:hover .modal-popover {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.modal-popover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 216px;
  height: 113px;
  top: 75px;
  right: 46px;
  transform: translate(0, 10px);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.popover-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.modal-popover:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #333333 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.people-amount {
  display: flex;
  max-width: 247px;
  margin: 0;
}

.people-counter {
  width: 10px;
  height: 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  margin-left: 46px;
  padding: 14px 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.people-counter::-webkit-outer-spin-button,
.people-counter::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.people-counter:focus {
  outline: none;
}

.counter-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.minus-icon {
  margin: 9px 3px;
}

.plus-icon {
  margin: 3px
}

.button-minus {
  top: 14px;
  left: 147px;
}

.button-plus {
  top: 14px;
  right: 9px;
}

.second-button-minus {
  top: 14px;
  left: 141px;
}

.second-button-plus {
  top: 14px;
  right: 12px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.date-selection {
  width: 400px;
  height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.calendar-icon {
  position: absolute;
  opacity: 30%;
  top: 16px;
  right: 22px;
}

.input-message {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  top: 52px;
  left: 157px;
  text-transform: none;
  margin: 0;
}

.input-message::first-letter {
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.modal-button {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 577px;
  min-height: 60px;
  background-color: #82B3D3;
  border: 1px #82B3D3 solid;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}



.counter-icon {
  fill: #756157;
  opacity: 0.3;
}

.counter-icon:hover {
  fill: #000000;
  opacity: 100%;
}

.counter-icon:active {
  fill: #000000;
  opacity: 20%;
}

.counter-button:focus {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.counter-button:active {
  outline: none;
}

/* далее для страницы catalog.html */

.inner-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../images/filter-background.jpg");
  background-color: #68A2CA;
  background-repeat: no-repeat;
  background-size: 1200px 412px;
  padding: 35px 70px 34px 70px;
  margin: 0;
}

.inner-header h1 {
  color: #ffffff;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrubs {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.breadcrubs-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrubs-link:hover {
  opacity: 60%;
}

.breadcrubs-link:focus {
  outline: none;
}

.breadcrubs-link:active {
  opacity: 30%;
}

.breadcrubs li {
  margin: 0;
  margin-right: 11px;
  padding: 0;
}

/* Фильтр отелей */

.hotel-filter {
  display: flex;
  flex-direction: row;
  width: 1060px;
  min-height: 160px;
}

.hotel-filter-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
  margin: 0;
  margin-right: 67px;
  padding: 0;
}

.hotel-filter-group:nth-child(2) {
  margin: 0;
}

.hotel-filter-group:nth-child(3) {
  margin: 0 70px 0 140px;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 34px;
}

.hotel-filter-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  width: 150px;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.control-filter-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.control {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.control-mark {
  position: absolute;
  display: block;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 2px #ffffff solid;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover {
  opacity: 60%;
}

.control:focus-within .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active .control-label,
.control:active .control-mark {
  opacity: 30%;
}

.control-input:disabled + .control-mark,
.control-input:disabled + .control-label {
  opacity: 60%;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  background: url(../images/tick.png) no-repeat;
  content: "";
}

.control-label {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 73px;
  margin-left: 36px;
  color: #ffffff;
  line-height: 23px;
  text-transform: capitalize;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.hotel-cost {
  margin-right: 70px;
}

.hotel-cost-input {
  display: flex;
  position: relative;
  gap: 3px;
}

.range-input {
  position: relative;
  width: 99px;
  height: 20px;
  margin: 0;
  padding: 12px 20px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 48px;
  background-color: #f2f2f2;
  border: 1px #F2F2F2 solid;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.min-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.max-input {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.input-label {
  display: flex;
  position: absolute;
  z-index: 1;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgb(0, 0, 0, 0.3);
  top: 12px;
  margin-left: 103px;
}

.range-input:focus {
  outline: 3px #83b3d3 solid;
}

.range-input:active {
  border: 2px #000000 solid;
}

.hotel-cost-range {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.range-toogle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.range-toogle:focus {
  border: 3px #83B3D3 solid;
}

.range-toogle:active {
  border: 2px #83B3D3 solid;
}

.toogle-min {
  top: -8px;
}

.toogle-max {
  top: -8px;
  right: -8px;
}

.hotel-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: bottom;
  margin: 0;
}

.button-submit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 191px;
  min-height: 36px;
  margin: 0;
  margin-top: 58px;
  margin-bottom: 32px;
  padding: 8px 50px;
  background-color: #82B3D3;
  border: 1px #82B3D3 solid;
  border-radius: 4px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-submit:hover,
.button-submit:focus {
  background-color: #68A2CA;
  border: 1px #68A2CA solid;
  outline: none;
}


.button-submit:active {
  background-color: #82B3D3;
  border: 1px #82B3D3 solid;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 36px;
  border: 0;
  background: none;
  margin: 0;
  padding: 8px auto;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus {
  border: 3px #83B3D3 solid;
  border-radius: 4px;
  outline: none;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Каталог*/

.catalog {
  margin: 0;
  padding: 50px 70px 60px 70px;
}

.sorting-field {
  width: 1060px;
  min-height: 49px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  padding: 0;
}

.sorting-section {
  position: relative;
  width: 292px;
  height: 49px;
  margin-right: 70px;
}

.sorting-variants {
  width: 292px;
  height: 49px;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  align-items: center;
  padding: 0 20px;
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.sorting-variants::-ms-expand {
  display: none;
}

.sorting-icon {
  position: absolute;
  width: 12px;
  height: 8px;
  top: 20px;
  right: 22px;
  background: url(../images/select-tick.png) no-repeat;
}

.sorting-variants:hover {
  border-color: #68A2CA;
}

.sorting-variants:focus {
  outline: 3px #68A2CA solid;
}

.sorting-variants:active {
  border: 2px #3F5E72 solid;
}

.sorting-variants:disabled {
  border-color: #ffffff;
  opacity: 30%;
}

.sorting-buttons-list {
  min-width: 160px;
  height: 48px;
  display: flex;
  gap: 8px;
}

.sorting-button {
  display: flex;
  width: 48px;
  height: 48px;
  border: 2px #E5E5E5 solid;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.sorting-button:hover {
  border: 2px #000000 solid;
}

.sorting-button:focus {
  outline: 2px #68A2CA solid;
}

.sorting-button:active {
  border-color: #000000;
}

/* Каталог */
.catalog-view {
  padding: 0;
  margin: 0;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: repeat(2, 438px);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.catalog-list li {
  display: flex;
  flex-direction: column;
  width: 298px;
  min-height: 396px;
  border: 1px #E6E6E6 solid;
  border-radius: 4px;
  margin: 0;
  padding: 20px;
}

.catalog-list img {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.catalog-list-item-link {
  text-decoration: none;
  margin: 0;
  color: #000000;
}

.catalog-list h3 {
  margin: 0;
  margin-bottom: 16px;
  text-align: left;
  text-transform: none;
}

.catalog-list-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.catalog-list dt {
  margin: 0;
  padding: 0;
  width: 140px;
  min-height: 21px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-list dd {

  margin: 0;
  padding: 0;
  width: 140px;
  min-height: 21px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
}

.catalog-card-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.about-link {
  display: flex;
  text-decoration: none;
  width: 140px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background-color: rgba(117, 97, 87, 1);
  border: none;
  border-radius: 4px;
  margin: 0;
}

.about-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-button {
  display: flex;
  box-sizing: content-box;
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #68A2CA;
  outline: none;
}

.catalog-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-button-chosen {
  display: flex;
  width: 140px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background-color: #7DB54F;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.catalog-button-chosen:hover,
.catalog-button-chosen:focus {
  background-color: #6C9E42;
  outline: none;
}

.catalog-button-chosen:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-raiting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 37px;
}

.raiting-stars {
  display: flex;
  flex-direction: row;
  gap: 6px;
  min-width: 90px;
  height: 37px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.raiting-number {
  display: flex;
  flex-wrap: wrap;
  width: 96px;
  min-height: 22px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  margin-left: 20px;
  padding: 9px 20px;
  background-color: #F2F2F2;
  border: 1px #f2f2f2 solid;
  border-radius: 4px;
}

.hr-line {
  margin: 40px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px #E6E6E6 solid;
}

.pagination-list {
  display: flex;
  list-style: none;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.pagination-item {
  display: flex;
  min-width: 60px;
  height: 60px;
}

.button-pagination {
  display: flex;
  min-width: 58px;
  height: 58px;
  text-decoration: none;
  background-color: #82B3D3;
  border: 1px #82B3D3 solid;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.button-pagination:hover,
.button-pagination:focus {
  background-color: #68A2CA;
  border-color: #82B3D3;
  outline: none;
}

.button-pagination:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-pagination-next {
  display: flex;
  min-width: 60px;
  height: 60px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-pagination-active {
  display: flex;
  min-width: 58px;
  height: 58px;
  text-decoration: none;
  background-color: #F2F2F2;
  border: 1px #F2F2F2 solid;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  align-items: center;
  justify-content: center;
}

.button-pagination-active:focus,
.button-pagination-next:focus {
  outline: none;
}

.button-pagination-next {
  color: #000000;
}

.catalog-subscription {
  padding: 96px 258px 104px 258px;
}

.catalog-subscription h2 {
  margin: 0;
  margin-bottom: 20px;
}

.catalog-subscription p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 104px 54px 104px;
}

.catalog-subscription-form {
  display: flex;
  justify-content: center;
}

.catalog-subscription-email {
  width: 452px;
  height: auto;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-style: none;
  font-size: 18px;
  line-height: 24px;
}

.catalog-subscription-email:focus {
  outline: none;
}

.catalog-subscription-submit {
  display: flex;
  width: 232px;
  height: auto;
  padding: 8px 50px;
  background-color: #82B3D3;
  border-color: #82B3D3;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
